@import '../../../styles/variables';

#play { background-color: blue; }
  
#fun {
      background-color: #ddd;
      width: 100%;
      border-radius: 50px;
      margin-top: -200px;
      box-shadow: $box-shadow;
}
  
#playButtonWrapper {
    display: flex;
    margin-right: 5px;
    margin-left: auto;

  #playHeader{
      margin-top: -2px;
      padding-left: .25em;
  }
    
  button {
      width: 50px;
      height: 25px;
  }
}