html, body {
    height: 100%;
    margin: 0;
  }

#app {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
#app > .quad {
    display: flex; 
    flex-basis: calc(50%);  
    justify-content: center;
    flex-direction: column;
  }


