#play { background-color: blue; }
  
#fun {
      background-color: #ddd;
      width: 100%;
      border-radius: 50px;
      margin-top: -200px;
      
    }
  
#playButtonWrapper {
    display: flex;
    margin-right: 5px;
    margin-left: auto;
  }
  
#playHeader{
    margin-top: -2px;
    padding-left: .25em;
  }
  
#superFun {
    width: 50px;
    height: 25px;
    }
  
#slightlyFun {
      width: 50px;
      height: 25px;
    }